:root {
    --text-xs: 0.64rem;
    --text-s: 0.8rem;
    --text: 1rem;
    --text-l: 1.25rem;
    --text-xl: 1.563rem;
    --text-xxl: 1.953rem;

    --gray-2: #6b7280;
    --gray-3: #4a5568;
    --gray-4: #1a202c;

    --space-1: 0.5rem;
    --space-2: 0.75rem;
    --space-3: 1rem;
    --space-4: 1.25rem;
    --space-5: 1.5rem;
    --space-6: 2rem;
    --space-7: 2.5rem;
    --space-8: 3rem;

    --white: #fff;
    --bg: #f4f5f7;
    --border: #cbd5e0;
    --primary: #35b2d3;
    --primary-dark: #1c687d;
    --primary-light: #abdeed;

    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;

    --radius: 0.5rem;

    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

    --sm: 640px;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: var(--gray-4);
    background: var(--bg);
}

p {
    margin: 0;
}

.btn {
    all: unset;
    display: inline-block;
    border: 2px solid;
    border-radius: var(--radius);
    font-size: var(--text-l);
    padding: var(--space-1);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    opacity: 0.7;
}

.btn:focus,
.btn:hover {
    color: var(--white);
}

.btn.btn-primary {
    border-color: var(--primary);
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn.btn-success {
    border-color: var(--success);
}

.btn.btn-success:focus,
.btn.btn-success:hover {
    background-color: var(--success);
}

.btn.btn-warning {
    border-color: var(--warning);
}

.btn.btn-warning:focus,
.btn.btn-warning:hover {
    background-color: var(--warning);
}

.btn.btn-danger {
    border-color: var(--danger);
}

.btn.btn-danger:focus,
.btn.btn-danger:hover {
    background-color: var(--danger);
}

/* layout */

.app-layout {
    display: grid;
    grid-template-rows: 4rem 1fr;
}

.main {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: var(--space-3);
}

.card {
    background: var(--white);
    box-shadow: var(--shadow);
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.home {
    display: grid;
    grid-gap: var(--space-3);
}

@media (min-width: 640px) {
    .home {
        grid-template-columns: 1fr 3fr;
    }
}

/* End layout */

/* Navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-3);
}

.brand {
    all: unset;
    cursor: pointer;
    padding: var(--space-3);
}

.brand {
    display: inline-flex;
    align-items: baseline;
}

.brand__logo {
    width: 3rem;
}

.brand__name {
    display: none;
}

@media (min-width: 640px) {
    .brand__name {
        display: inline-block;
        font-size: 2rem;
        padding-left: 0.5rem;
        letter-spacing: -1.5px;
    }
}
/* End Navbar */

/* Search */
.search {
    position: relative;
    text-align: right;
    flex: 0 1 70%;
    display: inline-block;
}

.search__input {
    width: 100%;
    font-size: var(--text-xl);
    padding-left: var(--space-6);
    max-width: 500px;
    color: var(--gray-3);

    height: var(--space-7);
    background: var(--white);
    box-shadow: var(--shadow);
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.search__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: var(--space-1);
}
/* End Search */

/* Filters */
.filters {
    overflow: hidden; /* hace que el borde del hover sea redondo en los filtros */
    font-size: var(--text-xl);
}

/* Rompo un poco con BEM para ahorrar js */
.filter input {
    display: none;
}

.filter input + div {
    display: block;
    cursor: pointer;
    padding: var(--space-2) var(--space-2) var(--space-2) var(--space-5);
}

.filter input + div:hover {
    background-color: var(--primary-light);
}

.filter input:checked + div {
    position: relative;
    background-color: var(--primary-light);
}

.filter input:checked + div::before {
    content: '';
    display: block;
    position: absolute;
    height: var(--text-xxl);
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--primary);
    left: calc(var(--space-5) - 10px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* End Filters */
