:root {
    --text-sm: .875rem;
    --text-xl: 1.25rem;
    --text-xxl: 1.5rem;

    --gray-2: #6b7280;
    --gray-3: #4a5568;
    --gray-4: #1a202c;

    --space-1: 0.5rem;
    --space-2: 0.75rem;
    --space-3: 1rem;
    --space-4: 1.25rem;
    --space-5: 1.5rem;
    --space-6: 2rem;
    --space-7: 2.5rem;
    --space-8: 3rem;

    --white: #fff;
    --bg: #f4f5f7;
    --border: #cbd5e0;
    --primary: #35b2d3;

    --radius: 0.5rem;

    --shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    --sm: 640px;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* reset */
*, *:before, *:after {
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: var(--gray-4);
    background: var(--bg);
}

p { margin: 0; }

/* layout */

.app-layout {
    display: grid;
    grid-template-rows: 4rem 1fr;
}

.main {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: var(--space-3);
}

/* navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-3);
}

.brand {
    all: unset;
    cursor: pointer;
    padding: var(--space-3);
}

.brand {
    display: inline-flex;
    align-items: baseline
}

.brand__logo {
    width: 3rem;
}

.brand__name {
    display: none;
}

@media (min-width: 640px) {
    .brand__name {
        display: inline-block;
        font-size: 2rem;
        padding-left: 0.5rem;
        letter-spacing: -1.5px;
    }
}

.search {
    position: relative;
    text-align: right;
    flex: 0 1 70%;
    display: inline-block;
}

.search__input {
    width: 100%;
    font-size: var(--text-xl);
    padding-left: var(--space-6);
    max-width: 500px;
    color: var(--gray-3);

    height: var(--space-7);
    background: var(--white);
    box-shadow: var(--shadow);
    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.search__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: var(--space-1);
}

/* booklist */
.booklist {
    display: grid;
    grid-gap: var(--space-3);
}

.booklist--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booklist--empty p {
    margin-top: var(--space-4);
    font-size: var(--text-xxl);
}

.booklist--empty img {
    max-width: 300px;
}

