{% extends "_base.html" %} {% block search %}
<div class="search">
    <img src="/assets/search.svg" aria-hidden="true" class="search__icon" />
    <input
        type="text"
        aria-label="Buscar un libro"
        class="search__input"
        data-ref="search"
    />
</div>
{% endblock %} {% block main %}
<div class="home">
    <div class="filters-container">
        <form class="card filters" data-ref="filter">
            <label class="filter">
                <input
                    type="radio"
                    name="filter"
                    value="AVAILABLE"
                    checked="checked"
                />
                <div>Descubrir</div>
            </label>

            <label class="filter">
                <input type="radio" name="filter" value="READING" />
                <div>Empezados</div>
            </label>

            <label class="filter">
                <input type="radio" name="filter" value="FINISHED" />
                <div>Terminados</div>
            </label>
        </form>
    </div>
    <div class="books-container" data-ref="books"></div>
</div>
{% endblock %} {% block js %}
<script type="module" src="/js/home.js"></script>

<script src="/js/partials/booklist.js"></script>
<script src="/js/partials/book.js"></script>
{% endblock %}
