<div class="book">
    <div class="book__cover">
        <img src="{{props.cover}}" alt="book cover">
    </div>

    <div class="book__header">
        <p class="book__title">{{props.title}}</p>
        <b-authors authors="{{props.authors}}"></b-authors>

    </div>
    <div class="book__body">
        <p class="book__synopsis">{{props.synopsis}}</p>
        <div class="book__extra-info">
            <p>Se publicó en el año <span class="highlight">{{props.year}}</span> por la editorial <span class="highlight">{{props.publisher}}</span>.</p>
            <p>Es un libro perteneciente a los géneros <span class="highlight">{{props.genres}}</span>.</p>
        </div>
    </div>
</div>
