.book {
    background: var(--white);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-rows: 180px 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-areas:
        "cover header"
        "body body";

    border: 1px solid var(--border);
    border-radius: var(--radius);
}

.book__cover {
    grid-area: cover;
    overflow: hidden;
    margin: var(--space-2) 0 0 var(--space-2);
}

.book__cover img {
    max-width: 100%;
}

.book__header {
    grid-area: header;
    margin: var(--space-2);
}

.book__title {
    font-size: var(--text-xl);
}

.book__author {
    font-size: var(--text-sm);
    color: var(--gray-2);
}

.book__body {
    grid-area: body;
    color: var(--gray-3);
    margin: var(--space-2);
    overflow: auto;
}

@media (min-width: 640px) {
    .book {
        height: 300px;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 250px 1fr;
        grid-template-areas:
            "cover header"
            "cover body";
    }

    .book__cover {
        margin: 0;
        border-bottom-left-radius: var(--radius);
        border-top-left-radius: var(--radius);
    }

    .book__cover img {
        max-width: 100%;
        max-height: unset;
    }

}


